@import "src/styles/mixins";
@import "src/styles/constants";

.custom-button-modal {
  border: none;
  background-color: initial;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  cursor: none;
  color: #312020;
  position: relative;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 71px;
  outline: none;
  text-decoration: none;
  transition: 0.1s;
  padding-top: 9px;

  &:hover {
    background-size: 90%;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}