@import "src/styles/mixins";

.bug {
  background: rgba(16, 15, 33, 0.85);

  &-content {
    z-index: 3;
    position: relative;
    text-align: center;
    display: flex;
    height: 100%;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 50px;
    background-position: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    @include respond(md) {
      padding-top: 100px;
    }
  }
}