:root {
  // colors
  --background: #F2F1FC;
  --font: #0E0E0E;
  --white: #fff;
  --purple-btn: linear-gradient(180deg, #ACAAF4 0%, #6E6AEE 100%);
  --purple: #6E6AEE;
  --purple-border: #ACAAF4;
  --purple-light: #D6D5FF;
  --input: #060635;
  --input-light: #DDDDFF;
  --grey: #C1C1C1;
  --dark-blue: #0D0D43;
  --dark-grey: #595959;
  --footer: #E5E2FF;
  --btn: #5C5B86;
}
