@import "src/styles/mixins";

.custom-button-close {
  border: none;
  transition: 0.2s;
  position: absolute;
  cursor: none;
  right: 85px;
  top: 50px;
  padding: 0;
  background-color: initial;

  &.room {
    top: 0;
    right: 0;
  }

  &.smallOne {
    right: 16px;
    top: 58px;

    img {
      width: 41px;
    }

    @include respond(md) {
      top: -10px;
      right: -10px;
    }
  }

  &.smallModal {
    right: 18px;
    top: 18px;

    img {
      width: 40px;
    }
  }

  &-img1 {
    width: 62px;
    display: none;

    @include respond(md) {
      width: 40px;
    }
  }

  &-img2 {
    width: 62px;

    @include respond(md) {
      width: 40px;
    }
  }

  &:hover {
    .custom-button-close-img1 {
      display: block;
    }

    .custom-button-close-img2 {
      display: none;
    }
  }

  @include respond(md) {
    right: 18px;
    top: 18px;
  }
}